.audioPlayer {
    --red-colour: #e70012;

    display: flex;
    flex-direction: column;
    align-items: center;
    width: 700px;
}

.trackDisplay {
    display: flex;
    align-items: center;
}

.trackTitle {
    color: white;
    font-family: monospace;
    font-size: 24px;
    margin: 20px;
    text-align: center;
}

.timeDisplay {
    color: white;
    font-family: monospace;
    font-size: 16px;
    margin-right: 20px;
}

.durationDisplay {
    color: white;
    font-family: monospace;
    font-size: 16px;
    margin-left: 20px;
}

.buttonArea {
    display: inline;
    padding: 20px;
}

/* outline:0 is horrendous for accessibility never do this in a professional project */
.audioPlayer button:focus {
    outline-color: #bc1421;
}

/* Play/Pause button and icon */
.playPauseButton {
    background-color: var(--red-colour);
    color: white;
    border: none;
    border-radius: 50%;
    width: 75px;
    height: 75px;
    font-size: 32px;
    justify-content: center;
    align-items: center;
}

.iconPlay {
    position: relative;
    right: 12px;
}

.iconPause {
    position: relative;
    right: 15px;
}

/* Previous/Next buttons and icon */
.previousNextButton {
    background-color: var(--red-colour);
    color: white;
    border: none;
    border-radius: 50%;
    width: 75px;
    height: 75px;
    font-size: 32px;
    justify-content: center;
    align-items: center;
    margin-left: 40px;
    margin-right: 40px;
}

.iconBack {
    position: relative;
    right: 18px;
}

.iconForward {
    position: relative;
    right: 12px;
}

.progressBar {
    --bar-bg: lightgrey;
    --seek-before-width: 0;
    --seek-before-color: var(--red-colour);
    --knob: var(--red-colour);
    --selected-knob: var(--red-colour);

    appearance: none;
    background: var(--bar-bg);
    border-radius: 10px;
    position: relative;
    width: 100%;
    height: 11px;
    outline: none;    
}

/* Progress Bar - Safari */
.progressBar::-webkit-slider-runnable-track {
    background: var(--bar-bg);
    border-radius: 10px;
    position: relative;
    width: 100%;
    height: 11px;
    outline: none; 
}

/* Progress Bar - Firefox */
.progressBar::-moz-range-track {
    background: var(--bar-bg);
    border-radius: 10px;
    position: relative;
    width: 100%;
    height: 11px;
    outline: none; 
}

.progressBar::-moz-focus-outer {
    border: 0;
}

/* Progress Bar - Chrome and Safari */
.progressBar::before {
    content: '';
    height: 11px;
    width: var(--seek-before-width);
    background-color: var(--seek-before-color);
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
    cursor: pointer;
}

/* Progress Bar - Firefox */
.progressBar::-moz-range-progress {
    height: 11px;
    background-color: var(--seek-before-color);
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

/* Knob - Chrome and Safari */
.progressBar::-webkit-slider-thumb {
    appearance: none;
    transform: scale(1.2);
    height: 15px;
    width: 15px;
    border-radius: 50%;
    border: none;
    background-color: var(--knob);
    cursor: pointer;
    position: relative;
    margin: -2px 0 0 0;
    z-index: 3;
    box-sizing: border-box;
}

/* Knob while dragging */
.progressBar:active::-webkit-slider-thumb {
     transform: scale(1.5);
     background: var(--selected-knob);
}

/* Knob - Firefox */
.progressBar::-moz-range-thumb {
    height: 15px;
    width: 15px;
    border-radius: 50%;
    border: transparent;
    background-color: var(--knob);
    cursor: pointer;
    position: relative;
    z-index: 3;
    box-sizing: border-box;
}

.progressBar:active::-moz-range-thumb {
    transform: scale(1.2);
    background: var(--selected-knob);
}

.rainDisplay {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.volumeButton {
    background-color: var(--red-colour);
    color: white;
    border: none;
    border-radius: 50%;
    width: 75px;
    height: 75px;
    font-size: 32px;
    justify-content: center;
    align-items: center;
}

.iconVolume{
    position: relative;
    right: 14px;
}

.rainVolume {
    color: white;
    font-family: monospace;
    font-size: 24px;
    margin: 20px;
}

.timerInputLabel {
    color: white;
    font-family: monospace;
    font-size: 24px;
    margin: 20px;
    text-align: center;
}

.timerRemaining {
    color: white;
    font-family: monospace;
    font-size: 24px;
    margin: 20px;
    text-align: center;
}

.timerInput {
    background-color: red;
    font-family: monospace;
    color: white;
    font-size: 18px;
    padding-left: 10px;
    margin-left: 10px;
    margin-right: 10px;
}

.timerButton {
    background-color: var(--red-colour);
    color: white;
    border: none;
    border-radius: 50%;
    width: 75px;
    height: 75px;
    font-size: 32px;
    justify-content: center;
    align-items: center;
}

.iconTimer{
    position: relative;
    right: 15px;
}

.timer {
    padding: 10px;
}

.timerInputArea {
    display: flex;
    align-items: center;
}

.timerColon {
    color: white;
    font-family: monospace;
    font-size: 24px;
}